
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Xanh+Mono&display=swap');

@keyframes spin {
    0% {
      --rotate: 0deg;
    }
    100% {
      --rotate: 360deg;
    }
}

@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
}
  
:root {
    --card-height: 40vh;
}
  

body {
    background-color: #b2beb5;
    height: 100vh;
}
  
.navbar {
    background-color: #414a4c;

}
.navbar-brand img {
    width: 100px; 
} 

.about-img {
    width: 50%;
    border-radius: 25%;
    border: solid#c4c3d0 8px;
}
.name {
    font-size: 35px;
}

.job-tittle {
    font-size: 80px;
    font-family: 'Oswald' sans-serif;
    align-items: center;
    color: blue;
}
.work-exp {
    align-items: center;
    color: rgba(1, 11, 20, 0.725);
    font-size: 30px;
    font-family: 'Raleway' sans-serif;
}

.myname {
    font-size: 25px;
    font-family: 'Xanh Mono' sans-serif;
}
.text {
    font-family: 'Xanh Mono' sans-serif;
    
}

.card-title{
    border-radius: 5px;
    align-items: center;
}
.text span {
    font-family: 'Xanh Mono' sans-serif;
    color: red;
}

.line {
    width: 100%;
    height: 2px;
    background-color: red;
}
.phone-num {
    margin-left: 20px;
    font-size: larger;

}
.color {
    font-size: 20px;
    font-family: 'oswald' sans-serif;
    color: red;
}
.reached{
    color: red;
    font-size: 30px;
    margin-right: 2px; 
    font-family: 'Xanh Mono' sans-serif;
}
.reachout {
    font-size: 30px;
    font-family: 'Xanh Mono' sans-serif;
}
.form-label{
    color: rgb(255, 255, 240);
    font-size: 20px;
    font-family: 'Raleway' sans-serif;
}
/* ----------Footer Section------------------ */
.footer {
    height: 100px;
    background-color: #414a4c;
    margin-top: 25px;
    align-items: center;
    display: flex;
}
.footer img {
    height: 9vh;
    border-radius: 50%;
}
.create span {
    color: red;
   
}

.footer a {
    color: aliceblue;
    text-decoration: none;
}

/* ----------Card Section------------------ */

.card-body .card-text {
    font-size: 19px;
}

/* --------------ICONS-------------- */

.portfolio-icon {
    font-size: 5.8rem;
}

.card {
    background: #bcd4e6;
    width: var(--card-width);
    height: var(--card-height); 
}

.card:hover:before, .card:hover:after {
    opacity: 0;
}

.card::before {
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 8px;
    background-image: linear-gradient(
      var(--rotate)
      , #00ffff, #ffff31 43%, #0000ff);
      position: absolute;
      z-index: -1;
      top: -1%;
      left: -2%;
      animation: spin 2.5s linear infinite;
}
  
.card::after {
    position: absolute;
    content: "";
    top: calc(var(--card-height) / 10);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    transform: scale(0.9);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient(
      var(--rotate)
      , #00ffff, #3c67e3 43%, #3f00ff);
      opacity: 1;
    transition: opacity .5s;
    animation: spin 2.5s linear infinite;
}
  
  
  
